.html, body, #app-root {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}