.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 250px;
        pointer-events: none;
    }
}

.menu-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
    gap: 2rem;
}

.button {
    position: relative;
    padding: 1rem 3rem;
    border: none;
    width: 20rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;

    color: #fff;
    background-color: #ffe4fc74;
    backdrop-filter: blur(10px);

    box-shadow: 0 0 10px #ff00d980,
              inset 0 0 10px #ff6be6;

    transition: 0.25s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(
        45deg,
        #96518b,
        #ffe4fc
    );
    filter: blur(6px);
    z-index: -1;
    opacity: 0.3;
    transition: 0.3s ease;
}

.button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px #ff00d980,
              inset 0 0 20px #ff00d980;
}

.button:hover::before {
  filter: blur(10px);
  opacity: 1;
}

.footer {
    height: 4rem;
    margin: 1rem 0;
    .elem {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        transition: all 0.3s ease;
        border-radius: 10px;
        text-decoration: none;

        img{
            height: 100%;
            
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1.5rem;
            gap: 1rem;
            color: #ffffff;
            cursor: pointer;
            font-weight: 600;
        }
    }

    .elem:hover {
        transform: scale(1.02);
    }
}