<div class="content">
    <div class="title">
        <img src="assets/title.webp " alt="Snapshot 2192" />
    </div>

    <div class="menu-options">
        <button class="button" (click)="startNewSnapshot()">Play</button>
        <button class="button" (click)="loadSnapshot()">Settings</button>
        <button class="button" (click)="openSettings()">Success</button>
    </div>

    <div class="footer">
        <a class="elem github" href="https://github.com/ErwanHeschung/Snapshot-2192" target="_blank">
            <img src="assets/github-brands-solid-full.svg" alt="GitHub" />
            <p>View on GitHub</p>
        </a>
    </div>
</div>